In [45]:
import pandas as pd

In [46]:
# DISTRITOS
df=pd.read_excel('distritos.xlsx')
df

                      DISTRITO
0                        ANCON
1                          ATE
2                     BARRANCO
3                   BELLAVISTA
4                        BREÑA
5                       CALLAO
6                   CARABAYLLO
7   CARMEN DE LA LEGUA REYNOSO
8                   CHACLACAYO
9                   CHORRILLOS
10                 CIENEGUILLA
11                       COMAS
12                 EL AGUSTINO
13               INDEPENDENCIA
14                 JESUS MARIA
15                   LA MOLINA
16                    LA PERLA
17                    LA PUNTA
18                 LA VICTORIA
19                        LIMA
20                       LINCE
21                  LOS OLIVOS
22                  LURIGANCHO
23                       LURIN
24           MAGDALENA DEL MAR
25                     MI PERU
26                  MIRAFLORES
27                  PACHACAMAC
28                    PUCUSANA
29                PUEBLO LIBRE
30               PUENTE PIEDRA
31               PUNTA HERMOSA
32                 PUNTA NEGRA
33                       RIMAC
34                 SAN BARTOLO
35                   SAN BORJA
36                  SAN ISIDRO
37      SAN JUAN DE LURIGANCHO
38      SAN JUAN DE MIRAFLORES
39                    SAN LUIS
40        SAN MARTIN DE PORRES
41                  SAN MIGUEL
42                 SANTA ANITA
43         SANTA MARIA DEL MAR
44                  SANTA ROSA
45           SANTIAGO DE SURCO
46                   SURQUILLO
47                  VENTANILLA
48           VILLA EL SALVADOR
49     VILLA MARIA DEL TRIUNFO

In [47]:
# MIDIS
df_midis=pd.read_excel('midis.xlsx', usecols=['DEPARTAMENTO', 'DISTRITO'])
df_midis=df_midis[df_midis['DEPARTAMENTO'] == 'LIMA METROPOLITANA']
df_midis=df_midis.groupby('DISTRITO').count()
df_midis.columns = ['MIDIS']
df_midis

                         MIDIS
DISTRITO
ANCON                       34
ATE                        256
CARABAYLLO                 170
CHACLACAYO                  23
CHORRILLOS                  73
CIENEGUILLA                  9
COMAS                      433
EL AGUSTINO                 99
INDEPENDENCIA              193
JESUS MARIA                  1
LA VICTORIA                 23
LIMA                        50
LOS OLIVOS                  93
LURIGANCHO                 174
LURIN                       53
PACHACAMAC                  49
PUCUSANA                    11
PUEBLO LIBRE                 1
PUENTE PIEDRA              129
PUNTA HERMOSA                1
PUNTA NEGRA                  4
RIMAC                       34
SAN BARTOLO                  3
SAN JUAN DE LURIGANCHO     326
SAN JUAN DE MIRAFLORES     177
SAN LUIS                     1
SAN MARTIN DE PORRES       100
SAN MIGUEL                   6
SANTA ANITA                 47
SANTA MARIA DEL MAR          1
SANTA ROSA                   4
SANTIAGO DE SURCO           25
SURQUILLO                    4
VILLA EL SALVADOR          242
VILLA MARIA DEL TRIUNFO    198

In [48]:
# MUNIDELIMA
df_munilima=pd.read_excel('munilima.xlsx', usecols=['DISTRITO','Nombre de la olla común'])
#df_munilima=df_munilima[df_munilima['DEPARTAMENTO'] == 'LIMA METROPOLITANA']
df_munilima=df_munilima.groupby('DISTRITO').count()
df_munilima.columns = ['MUNILIMA']
df_munilima

                         MUNILIMA
DISTRITO
ANCON                          25
ATE                            24
BARRANCO                        1
CARABAYLLO                     58
CERCADO DE LIMA                16
CHACLACAYO                     12
CHORRILLOS                     22
CIENEGUILLA                    10
COMAS                         127
EL AGUSTINO                    11
INDEPENDENCIA                  96
LA VICTORIA                     1
LOS OLIVOS                      1
LURIGANCHO                     75
LURIN                          12
MAGDALENA DEL MAR               1
PACHACAMAC                    137
PUCUSANA                       12
PUENTE PIEDRA                  71
PUNTA HERMOSA                   7
PUNTA NEGRA                     2
RIMAC                          69
SAN BARTOLO                     2
SAN JUAN DE LURIGANCHO        420
SAN JUAN DE MIRAFLORES        156
SAN MARTIN DE PORRES            9
SANTA ANITA                     1
SANTA ROSA                    108
VILLA EL SALVADOR              35
VILLA MARIA DEL TRIUNFO       377

In [51]:
df=df.set_index('DISTRITO').join(df_midis).join(df_munilima).fillna(0).astype(int)
df.to_csv('ollas_comunes.csv')